* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: georgia, 'Times New Roman', Times, serif;
}

/* Flex display to align text left and image right */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 10%;
    background-color: rgb(245, 251, 252);
}

/* Left side container */
.content {
    flex: 1;
    max-width: 50%;
    padding-right: 40px;
}

/* Typography styles */
.company-name {
    color: rgb(255, 92, 102); 
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tagline {
    color: rgb(255, 205, 58);
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text {
    color: rgb(35, 109, 165);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Right side image styling */
.image {
    flex: 1;
    display: flex;
}

.image img {
  width: 220px;
  height: 700px;
 object-position: right;
}

