#navbar
{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 30px ;
    margin: 0;  
    text-align: center;
    column-gap: 2%;
}
body
{
    background-color: grey;
}
#home, #portfolio, #contact, #services, #about, #reviews
{
    border: 1px solid black;
    border-radius: 15%;
    background-color: lightgrey;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
#home:hover, #portfolio:hover, #contact:hover, #services:hover, #about:hover, #reviews:hover
{
    background-color: black;
    color: white;
}
footer
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 2px solid black;
    padding-top: 20px;
}
#contactdetails
{
    grid-column: 1;
    grid-row: 1;
    
}
#rights
{
    grid-column: 3;
    grid-row: 1;
}
#home
{
    grid-column: 1;
    grid-row: 1;
}
#portfolio
{
    grid-column: 3;
    grid-row: 1;
}
#contact
{
    grid-column: 4;
    grid-row: 1;
}
#services
{
    grid-column: 2;
    grid-row: 1;
}
#about
{
    grid-column: 5;
    grid-row: 1;
}
#reviews
{
    grid-column: 6;
    grid-row: 1;
}